[Unit]
Description=GPS to MQTT bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pizero2w
WorkingDirectory=/home/pizero2w/tundra-alarm-ecu
ExecStart=/usr/bin/python3 /home/pizero2w/tundra-alarm-ecu/gps_clean_mqtt.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
